################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

MvcPlaces/obj/Debug/netcoreapp2\.1/MvcPlaces\.assets\.cache

MvcPlaces/obj/Debug/netcoreapp2\.1/MvcPlaces\.csprojAssemblyReference\.cache

MvcPlaces/obj/MvcPlaces\.csproj\.nuget\.cache

MvcPlaces/obj/MvcPlaces\.csproj\.nuget\.g\.props

MvcPlaces/obj/Debug/netcoreapp2\.1/MvcPlaces\.csproj\.CoreCompileInputs\.cache

MvcPlaces/obj/MvcPlaces\.csproj\.nuget\.dgspec\.json

MvcPlaces/obj/MvcPlaces\.csproj\.nuget\.g\.targets

MvcPlaces/obj/project\.assets\.json

MvcPlaces/bin/Debug/netcoreapp2\.1/MvcPlaces\.deps\.json

MvcPlaces/bin/Debug/netcoreapp2\.1/MvcPlaces\.dll

MvcPlaces/bin/Debug/netcoreapp2\.1/MvcPlaces\.pdb

MvcPlaces/bin/Debug/netcoreapp2\.1/MvcPlaces\.runtimeconfig\.dev\.json

MvcPlaces/bin/Debug/netcoreapp2\.1/MvcPlaces\.Views\.dll

MvcPlaces/bin/Debug/netcoreapp2\.1/MvcPlaces\.Views\.pdb

MvcPlaces/obj/Debug/netcoreapp2\.1/
/MvcPlaces/bin/Debug/netcoreapp2.2
/MvcPlaces/obj/Debug/netcoreapp2.2
