<nav class="navbar navbar-expand-sm navbar-dark">
    <i class='@Model.Icon text-white' style='font-size:24px'></i>
    <a class="navbar-brand pl-4 pr-4" href="#"><h4>@Model.Title</h4></a>
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
                <h4>Lists</h4>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index">Main</a>
                <a class="dropdown-item" asp-action="ListImported">Imported</a>
                <a class="dropdown-item" asp-action="ListNotImported">Not Imported</a>
            </div>
        </li>
    </ul>
</nav>