@model MvcPlaces.Models.PlaceGroup

@{
    ViewData["Title"] = "Create";
}

<br />
<partial name="CreateMenu" />
<br />

<div class="card rounded border-0">
    <div class="card-header bg-dark text-white rounded-top">
        <div class="d-flex">
            <div><b>Place Group</b></div>
            <div class="ml-auto"><i class='fas fa-object-group'></i></div>
        </div>
    </div>
    <div class="card-body bg-light text-dark rounded-bottom">
        <form asp-action="Create">
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Name" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Description" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label asp-for="Icon" class="input-group-text w-100"></label>
                </div>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark rounded" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}