@model MvcPlaces.ViewModels.Models.Main.PlaceGroupView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="alert alert-primary rounded p-2">
    <div class="d-flex">
        <div class="p-2">
            @Model.Description
        </div>
    </div>
</div>
<div class="d-flex bg-dark">
    @if (Model.Places.Count > 0)
    {
        <div class="mr-3">
            <a asp-action="PlacesList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex alert bg-primary">
                    <div><i class="fas fa-map-marker-alt" style="font-size:24px"></i></div>
                    <div class="pl-3"><h5>Places</h5></div>
                    <div class="pl-3"><h5>@Model.Places.Count</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<div class="card-deck">
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Details</h5></div>
                <div class="ml-auto"><h5><i class="fas fa-info-circle"></i></h5></div>
            </div>
        </div>
        <div class="card-body bg-light rounded-bottom">
            <partial name="BasicLabel" model='new { Label = Html.LabelFor(x => x.Id), Value = Model.Id }' />
            <partial name="BasicLabel" model='new { Label = Html.LabelFor(x => x.Name), Value = Model.Name }' />
            <partial name="BasicLabel" model='new { Label = Html.LabelFor(x => x.Icon), Value = Model.Icon }' />
            <partial name="BasicLabel" model='new { Label = Html.LabelFor(x => x.Image), Value = Model.Image }' />
        </div>
    </div>
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Places</h5></div>
                <div class="ml-auto">
                    <h5><a asp-controller="PlaceGroupSet" asp-action="CreateByPlaceGroup" asp-route-id="@Model.Id" style="color:white" title="Add Place"><i class="fas fa-plus"></i></a></h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-transparent" style="height:335px;max-height:335px;overflow-y:auto;">
            @if (Model.Places.Count > 0)
            {
                foreach (var item in Model.Places.OrderBy(x => x.Name))
                {
                    <partial name="ActionListLabel" model='new { Controller = "Place", Action = "Details", Value = item.Name, RouteId = item.Id, Icon = "fas fa-map-marker-alt" }' />
                }
            }
            else
            {
                <partial name="BasicListLabel" model='new { Value = "--", Icon = string.Empty }' />
            }
        </div>
    </div>
</div>  