@model MvcPlaces.ViewModels.Models.Main.PlaceGroupView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div>
            <i class='@Model.Icon p-2' style='font-size:40px'></i>
        </div>
        <div class="p-2 pl-3">
            <h3>@Model.Name</h3>
        </div>
    </div>
</div>