@model MvcPlaces.ViewModels.Models.Main.TerritoryTypeView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div class="p-2 pl-3">
            <i class='far fa-map' style='font-size:36px;'></i>
        </div>
        <div class="p-2 pl-3">
            <h3>@Model.Type</h3>
        </div>
    </div>
</div>