<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Territory Types</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">New</a>
        </li>
    </ul>
</nav>