@model MvcPlaces.Models.PlaceGroupSet

@{
    ViewData["Title"] = "Delete";
}

<br />
<partial name="DeleteMenu" />
<br />

<div class="card border-0">
    <div class="card-header bg-dark text-white rounded-top">
        <div class="d-flex">
            <div><b>Place Group Set</b></div>
            <div class="ml-auto"><i class='fas fa-map-marker'></i></div>
        </div>
    </div>
    <div class="card-body bg-light text-dark rounded-bottom">
        <h3>Are you sure you want to delete this?</h3>
        <hr />
        <div class="d-flex">
            <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="PlaceId"></label></div>
            <div class="w-75 p-1 pl-4 mb-1 bg-white"><span>@Model.Place.Name</span></div>
        </div>
        <div class="d-flex">
            <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="GroupId"></label></div>
            <div class="w-75 p-1 pl-4 mb-1 bg-white"><span>@Model.Group.Name</span></div>
        </div>
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-dark rounded" />
        </form>
    </div>
</div>