@model MvcPlaces.ViewModels.Models.Main.PlaceGroupSetView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div>
            <i class='fas fa-map-marker p-2' style='font-size:40px'></i>
        </div>
        <div class="p-2 pl-3">
            <h3>@Model.ListName</h3>
        </div>
    </div>
</div>