@model MvcPlaces.ViewModels.Models.Main.TerritoryView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="card border-0">
    <div class="card-header bg-secondary text-white">Places</div>
    <div class="card-body bg-dark p-0">
        <partial name="PartialListDetailsPlaces" model="@Model.Places.OrderBy(x => x.ListName)" />
    </div>
</div>