@model IEnumerable<MvcPlaces.ViewModels.Models.Import.DriveLegView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Encoded(false).RenderedAs(model => $"<i class='fas fa-road'></i>");
        columns.Add(model => model.Number).Titled("Number");
        columns.Add(model => model.Drive.Name).Titled("Drive");
        columns.Add(model => model.Origin.Name).Titled("Origin");
        columns.Add(model => model.Destination.Name).Titled("Destination");
        columns.Add(model => model.ImportId.HasValue ? model.ImportId.Value.ToString() : "--").Titled("Import Id");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-secondary btn-sm rounded' style='margin:1px' href='/ImportDriveLeg/Delete/{model.Id}'>Delete</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-dark table-striped table-hover rounded")
)
