@model IEnumerable<MvcPlaces.ViewModels.Models.Main.PlaceView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.LocalName).Titled("Local Name");
        columns.Add(model => model.LatitudeDegrees).Titled("Latitude");
        columns.Add(model => model.LongitudeDegrees).Titled("Longitude");
        columns.Add(model => model.ZoomString).Titled("Zoom");
        columns.Add(model => model.Complete).Titled("Complete");
        columns.Add().Encoded(false).RenderedAs(model =>
                "<div class='btn-group float-right'>" +
                    $"<a class='btn btn-secondary btn-sm' href='/Place/Details/{model.Id}'>Details</a>" +
                "</div>"
            );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-dark table-striped table-hover rounded")
)