@model IEnumerable<MvcPlaces.ViewModels.Models.Main.DriveLegView>

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add().Encoded(false).RenderedAs(model => $"<i class='fas fa-route'></i>");
            columns.Add(model => model.Drive.Name).Titled("Drive");
            columns.Add(model => model.Number).Titled("Number");
            columns.Add(model => model.Origin.Name).Titled("Origin");
            columns.Add(model => model.Destination.Name).Titled("Destination");
            columns.Add().Encoded(false).RenderedAs(model =>
                "<div class='btn-group float-right'>" +
                    $"<a class='btn btn-secondary btn-sm rounded-left' href='/Drive/Edit/{model.Id}'>Edit</a>" +
                    $"<a class='btn btn-secondary btn-sm rounded-0' href='/Drive/Details/{model.Id}'>Details</a>" +
                    $"<a class='btn btn-secondary btn-sm rounded-right' href='/Drive/Delete/{model.Id}'>Delete</a>" +
                "</div>"
            );
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable()
        .AppendCss("table-dark table-striped table-hover rounded")
)