@model IEnumerable<MvcPlaces.ViewModels.Models.Import.RegionView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Isocode).Titled("ISO");
        columns.Add(model => model.Type).Titled("Type");
        columns.Add(model => model.Country.Name).Titled("Country");
        columns.Add(model => model.ImportId.HasValue ? model.ImportId.Value.ToString() : "--").Titled("Import Id");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-dark btn-sm rounded-0' href='/ImportRegion/Import/{model.Id}'>Import</a>" +
                $"<a class='btn btn-dark btn-sm rounded-0' href='/ImportRegion/QuickImport/{model.Id}'>Quick</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-light table-striped table-hover small")
)