@model IEnumerable<MvcPlaces.ViewModels.Models.Main.PlaceGroupSetView>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Place.Name).Titled("Place");
        columns.Add(model => model.Group.Name).Titled("Group");
        columns.Add().Encoded(false).RenderedAs(model =>
            "<div class='btn-group float-right'>" +
                $"<a class='btn btn-dark btn-sm rounded-0' href='/PlaceGroupSet/Edit/{model.Id}'>Edit</a>" +
                $"<a class='btn btn-dark btn-sm rounded-0' href='/PlaceGroupSet/Details/{model.Id}'>Details</a>" +
                $"<a class='btn btn-dark btn-sm rounded-0' href='/PlaceGroupSet/Delete/{model.Id}'>Delete</a>" +
            "</div>"
        );
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    .AppendCss("table-light table-striped table-hover small")
)