@model MvcPlaces.ViewModels.Models.Main.PlaceView

<div class="alert alert-dark rounded p-2">
    <div class="d-flex">
        <div>
            @foreach (var item in Model.Territories)
            {
                <img class="card-img-top-50 rounded" src="@item.FlagImage" alt="Card image" style="height:50px;object-fit: cover;overflow: hidden;opacity:0.3">
            }
        </div>
        <div class="p-2 pl-3">
            <h4>@Model.Name</h4>
        </div>
        <div class="ml-auto p-2">
            <h4>@Model.LocalName</h4>
        </div>
    </div>
</div>