@model MvcPlaces.ViewModels.Models.Main.ContinentView

@{
    ViewData["Title"] = "Subcontinents";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="card rounded-0">
    <div class="card-header bg-dark text-white rounded-0">Subcontinents</div>
    <div class="card-body bg-light">
        <partial name="PartialListDetailsContinents" model="@Model.Children" />
    </div>
</div>